---

---

<section class="pb-12 pt-12">
	<div class="grid grid-cols-1 text-center pb-8">
		<h1 class="text-[3.5rem] xl:text-8xl mx-auto text-center text-mainYellow col-span-3 uppercase flex items-center xl:pb-4 leading-[3rem]"><span>so <span class="font-black text-[3.4rem] xl:text-8xl">who am i<span class="font-normal">?</span></span></span></h1>
	</div>
	<div class="bg-mainYellow rounded-3xl drop-shadow-3xl flex flex-col gap-y-10 md:gap-y-12 xl:gap-y-0 xl:gap-x-12 xl:flex-row max-w-[85%] mx-auto py-10 px-10 items-center text-center xl:text-start">
		<img src="face.png" class="rounded-2xl max-w-[65%] max-h-[65%] md:max-w-[45%] md:max-h-[45%] lg:max-w-[15%] lg:max-h-[15%]"/>
		<h1 class="text-4xl md:text-[2.75rem] xl:text-5xl font-bold text-mainRed">
			Lorem, ipsum dolor sit amet consectetur adipisicing elit. Dignissimos obcaecati nesciunt, voluptatem cupiditate quo nihil enim, amet, sequi omnis consectetur dolor possimus incidunt consequatur! Ullam ea quo natus exercitationem veritatis!
		</h1>
	</div>
</section>