---
import { THINGS } from '~/config.mjs';
import '~/assets/styles/base.css';
---

<section>
	<div class="max-w-[95%] mx-auto px-4 sm:px-6">
		<div class="py-8">
			<div class="text-center md:pb-16">
				<h1 class="text-6xl sm:text-8xl 3xl:text-[9rem] 5xl:text-[10rem] 6xl:text-[12rem] font-extrabold mb-4 uppercase leading-[75%] tracking-[0.0125px]">
					{THINGS.tagline}
				</h1>
				<div class="mt-10 max-w-[85%] md:max-w-3xl mx-auto">
					<div class="md:px-6 flex flex-nowrap flex-col sm:flex-row sm:justify-center gap-4">
						<div class="flex w-auto">
							<a
								class="ring-0 text-mainYellow uppercase bg-[#7c1f1f] hover:bg-[#551515] active:bg-[#3a0e0e] rounded-2xl md:rounded-lg shadow-xl outline-dashed outline-[6px] outline-mainYellow w-full font-sans font-semibold text-center text-4xl axl:text-6xl sm:px-10 py-4 sm:py-5 axl:py-[7.5%] hover:scale-105 duration-200 ease-in-out"
								href="#contact">Let's Chat</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
